.championCard {
    max-width: 350px;
}

.championName {
    text-align: center;
    text-wrap: wrap;
}

.championName p {
    margin: 0;
}

.championName h2 {
    margin: 0;
}

.championName h5 {
    margin: 0;
    color: var(--mantine-color-dimmed);
}